body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#searchForm {
  margin-left: 20%;
  margin-right: 20%;
}

#loading {
  visibility: hidden;
}

.paper {
  text-align: left;
}

#about {
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
}
